<app-header-tab titulo="tab4"></app-header-tab>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Adivina un número del 0 al 100</ion-label>
      <ion-button (click)="onClick()">Comprobar</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Número: </ion-label>
      <ion-input type="number" placeholder="Introduce un numero" [(ngModel)]="num"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label type="string">{{texto}}</ion-label>
    </ion-item>
  </ion-list>
 </ion-content>
